/* 
font-family: 'Squada One', cursive;
font-family: 'Bahianita', cursive;
font-family: 'Merriweather', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Special Elite', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Handlee', cursive;
*/


/* SUMMARY SECTION DESCRIPTION */
.homeSection {
  width: 100%;
  /* background-color: #ccc; */
  /* margin-top: 5%; */
}
#welcomePicture {
  /* float: left; */
  width: 100%;
  min-height: 100vh;
  /* background-color: black; */
  background-image: url("/images/welcomepic.png");
  background-size: cover;
}
#summaryDescription {
  /* float: left; */
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding-top: 5%;
}




/* SUMMARY SECTION - SITE NAME */
.siteName {
  text-align: center;
  padding-top: 15%;
  font-family: "Poiret One", cursive;
}
#siteDescription {
  line-height: 3;
  letter-spacing: 1px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.25em;
}

/* ACCOUNT SECTION */
/* .accountSection {
  float: left;
  width: 50%;
  padding-top: 6em;
  background-color: #fff;
  padding-bottom: 10em;
}

.open-account-div {
  margin-top: 3em;
}
#newAccountBtn {
  border: rgb(56, 255, 56) 1px solid;
  background-color: rgb(38, 213, 44);
} */

/* SITE APPEAL SECTION */
/* .siteAppeal {
  width: 100%;
  background-color: #ccc;
} */
#sitePicture {
  /* float: left; */
  width: 100%;
  min-height: 100vh;
  background-image: url("/images/zcaresymbols.png");
  background-size: cover;
}
#siteExplanation {
  /* float: left; */
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
}
/* SITE APPEAL - TITLE AND DESCRIPTION */
#explanationTitle {
  text-align: center;
  margin-top: 15%;
  padding-bottom: 5%;
  font-family: "Poiret One", cursive;
}
#explanationDescription {
  line-height: 2;
  letter-spacing: 1px;
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.25em;
}
#plantIcons {
  list-style: none;
  margin-top: 5%;
  width: 100%;
}
#plantIcons li {
  display: inline-block;
  text-align: center;
  margin-right: 3%;
}
#siteExplanation ul li img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  text-align: left;
}

/* PLANT VARIETIES SECTION */
/* .plantVarieties {
  width: 100%;
  background-color: #fff;
} */
#varietyExplanation {
  /* float: left; */
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
}
#varietyPicture {
  /* float: left; */
  width: 100%;
  min-height: 100vh;
  /* background-color: black; */
  background-image: url("/images/zcare.png");
  background-size: cover;
}
/* PLANT VARIETIES - PARAGRAPHS */
#varietyTitle {
  text-align: center;
  margin-top: 18%;
  margin-bottom: 2em;
  font-family: "Poiret One", cursive;
}
#varietyDescription {
  line-height: 2;
  letter-spacing: 1px;
  padding-left: 4em;
  padding-right: 4em;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.25em;
}

/* PROPAGATION SECTION */
/* .plantPropagation {
  width: 100%;
  background-color: #fff;
} */
#propagationExplanation {
  float: left;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
#propagationPicture {
  float: left;
  width: 100%;
  min-height: 100vh;
  /* background-color: black; */
  background-image: url("/images/zpropagation.png");
  background-size: cover;
}
/* PROPAGATION TITLES AND PARAGRAPHS */
#propagationTitle {
  text-align: center;
  margin-top: 18%;
  margin-bottom: 2em;
  font-family: "Poiret One", cursive;
}
.propagationDescription {
  line-height: 2;
  letter-spacing: 1px;
  padding-left: 4em;
  padding-right: 4em;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.25em;
}

/* TRIFORCE DIV */
/* .signUpReminder {
  width: 100%;
  height: 50%;
  background-color: #3aced0;
  padding-bottom: 5%;
  
}
.signUpPersuade {
  width: 100%;
}
#signUpNote {
  color: #fff;
  line-height: 2;
  letter-spacing: 1px;
  padding-left: 8em;
  padding-right: 8em;
  font-family: "Handlee", cursive;
  font-size: 1.25em;
} */

/* MEDIA QUERIES */


