
.details-header {
  margin-top: 20px;
  font-size: 20px;
  color: #d5d5d5;
  text-transform: uppercase;
}

#destination {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: #757575;
}

.bold-text {
  font-weight: bold;
}

.margin-btm {
  margin-bottom: 20px;
}

.steps {
  text-align: center;
  margin: auto;
}

.btn-on-map {
  color: #d5d5d5;
}