/* 
font-family: 'Squada One', cursive;
font-family: 'Bahianita', cursive;
font-family: 'Merriweather', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Special Elite', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Handlee', cursive;
*/